<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div id="nav pull-right">
        <% if current_user %>
          Logged in as <%= current_user.email %>.
          <%= link_to "Admin Log Out", logout_path %>
        <% else %>
          <%= link_to "Admin Log In", login_path %>
        <% end %>
    </div>
  </div>
</header>