<div class="navbar navbar-fixed-top">
  <div class="container">
    <a class="brand" href="/">Company</a>
    <div class="btn-group pull-right">
      <a class="btn" href="
        <% if current_user %>
          <%= candidates_path %>">Candidates</a>
          <a class="btn" href="<%= logout_path %>">Admin Log Out</a>
          <% else %>
          <%= login_path %>">Admin Log In</a>
        <% end %>
      </a>
      <% if current_user %>
        <br><div class="pull-right">Logged in as <%= current_user.name %></div>
      <% end %>
    </div>
  </div>

</div>