<div class="navbar navbar-static-top">
  <div class="container">  
    <a class="brand" href="/">Company</a>

    <% if current_user %>
      <ul class="nav nav-pills">
        <li class="active">
          <a href="<%= root_path %>">Candidates</a>
        </li>
        <li><a href="#">Jobs</a></li>
      </ul>
    <% end %>

    <div class="navbar-text pull-right">
      <% if current_user %>
        Logged in as <%= current_user.name %>  
      <% end %>
      <a class="" href="
        <% if current_user %>
          <%= logout_path %>">...Log Out</a>
          <% else %>
          <%= login_path %>">Admin Log In</a>
        <% end %>
      </a>
    </div>
  </div>
</div>